<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Free Web tutorials">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="author" content="John Doe">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&display=swap" rel="stylesheet">
    <title>Fertilizers | Rythu Seva</title>
    <style>
        body {
            background-image: url('../static/images/fertilizer_bg.jpg');
            background-repeat: no-repeat;
            background-size: cover;
        }

        #navi a:hover {
            color: rgb(252, 251, 251);
            background-color: rgb(1, 98, 1);
        }

        #navi a:active {
            color: rgb(255, 255, 255);
            background-color: rgb(1, 91, 1);
        }

        #navi {
            background-image: linear-gradient(to bottom right, rgb(44, 173, 61), rgb(38, 42, 1));
        }

        #navi a {
            padding-top: 10px;
            position: relative;
        }
        .card {
            width: 18rem;
            margin-top: 10px; /* Add top margin */
            margin-bottom: 10px; /* Add bottom margin */
        }
    </style>
</head>

<body>
    <!--navigation bootstrap start-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-success" id="navi">
        <div class="container-fluid">
            <a class="navbar-brand" href="#" style="font-size: 35px; padding-left: 10px;">
                <img src="../static/images/farmer-logo.png" alt="logo" srcset="" width="60px">
                <b style="padding-left:15px; font-family:'Handlee', cursive;">Rythu Seva</b></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/crop">Crop Suggestion</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://karthik6717-tomato-disease-main-8jasm5.streamlit.app/">Crop Disease Prediction</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/fertilizer">Fertilizers Recomendation</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/techFarming">Tech Farming</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Ecommerce
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                            <li><a class="dropdown-item" href="/seeds">Seeds</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="/fertilizers">Fertilizers</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="/pesticides">Pesticides</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Services
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                            <li><a class="dropdown-item" href="/login">Login</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="/register">Register</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" id="logoutBtn">Logout</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" tabindex="-1">
                            <div id="google_translate_element" style="border-radius: 5px; padding-left: 50px;"></div>
                        </a>
                    </li>
                </ul>
                <!-- <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-primary btn-outline-light" type="submit">Search</button>
                </form> -->
                <a
                        href="https://gunagantirajashekar.grafana.net/public-dashboards/5f247917b8bc443087f8d1106f021738">
                        <button
                            class="btn btn-primary btn-outline-light">Dashboards</button>
                    </a>
                    <a
                        href="https://gunagantirajashekar.grafana.net/public-dashboards/dd1e42197c2044a8a34924f1d6395791">
                        <button
                            class="btn btn-primary btn-outline-light">Dashboards</button>
                    </a>
            </div>
        </div>
    </nav>
    <!--navigation bootstrap end-->
    
    <br><br><br>
    <div class="container">
        <div class="row">
            <div class="col-md">
                <div class="card" style="width: 18rem;">
                    <img src="../static/images/nitrogenous _fertilizers.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Nitrogenous Fertilizers</h5>
                      <p class="card-text">Rich in nitrogen, sulfur, beneficial for sulfur-demanding crops and versatile for various crops.</p>
                      <a href="#" class="btn btn-primary">Buy now</a>
                    </div>
                  </div>
            </div>
            <div class="col-md">
                <div class="card" style="width: 18rem;">
                    <img src="../static/images/phosphatic_fertilizers.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Phosphatic Fertilizers</h5>
                      <p class="card-text">SSP, DAP, TSP boost crop growth, enriching cereals, oilseeds, wheat, maize, sugarcane, and pulses.</p>
                      <a href="#" class="btn btn-primary">Buy now</a>
                    </div>
                  </div>
            </div>
            <div class="col-md">
                <div class="card" style="width: 18rem;">
                    <img src="../static/images/potassic_fertilizers.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Potassic Fertilizers</h5>
                      <p class="card-text">MOP and Potassium Sulphate enrich crops like rice, with essential potassium nutrients.</p>
                      <a href="#" class="btn btn-primary">Buy now</a>
                    </div>
                  </div>
            </div>
            <div class="col-md">
                <div class="card" style="width: 18rem;">
                    <img src="../static/images/micronutrient_fertilizers.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Micronutrient Fertilizers</h5>
                      <p class="card-text">Zinc Sulphate, Ferrous Sulphate, Boron correct deficiencies, vital for crop health, and yield.





                      </p>
                      <a href="#" class="btn btn-primary">Buy now</a>
                    </div>
                  </div>
            </div>
            <div class="col-md">
                <div class="card" style="width: 18rem;">
                    <img src="../static/images/organic_fertilizers.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Organic Fertilizers</h5>
                      <p class="card-text">Compost, Vermicompost, FYM, Green Manure enhance soil fertility, and crop health sustainably.</p>
                      <a href="#" class="btn btn-primary">Buy now</a>
                    </div>
                  </div>
            </div>
            
        </div>
    </div>
    <!-- <iframe src="http://localhost:8080/dashboard-solo/new?orgId=1&from=1117020637000&to=1124741026000&panelId=2" width="450" height="200" frameborder="0"></iframe> -->

    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({ pageLanguage: 'en' }, 'google_translate_element');
        }
    </script>

    <script type="text/javascript"
        src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

        <script>
            document.getElementById('logoutBtn').addEventListener('click', async function() {
                try {
                    const response = await fetch('http://localhost:3000/logout', {
                        method: 'POST',
                        credentials: 'include' // Include cookies in the request
                    });
        
                    if (response.ok) {
                        const responseData = await response.json();
                        alert(responseData.message);
                        window.location.href = '/login'; // Redirect to login page after logout
                    } else {
                        const errorMessage = await response.text();
                        alert(errorMessage);
                    }
                } catch (error) {
                    console.error('Error:', error);
                    alert('An error occurred. Please try again later.');
                }
            });
        </script>

</body>

</html>